@font-face { font-family: Astrology; src: url('font/astro.ttf'); } 

.transit {

}

.transit-title {
	font-size: 120%;
}

.transit-symbols {
	font-family: Astrology;
	font-size: 200%;
	text-align: center;
	width: 5%;
}
